body {
  background: black;
  color: red;
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clock {
  font-size: 24px;
  margin: 10px;
}
