.dg-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dg-container {
  width: 600px;
  height: 206px;
  background: black;
  display: flex;
}

.hr-container {
  width: 75px;
  height: 186px;
  background: black;
  margin: 10px 10px;
  position: relative; 
}


#h1a, #h2a, #m1a, #m2a, #s1a, #s2a {
  position: absolute; top: 0; left: 8px; width: 50px; height: 10px;
}
#h1d, #h2d, #m1d, #m2d, #s1d, #s2d {
  position: absolute; bottom: 0; left:8px; width: 50px; height: 10px;
}
#h1g, #h2g, #m1g, #m2g, #s1g, #s2g {
  position: absolute; top: 87px; left: 8px; width: 50px; height: 10px;
}


#h1b, #h2b, #m1b, #m2b, #s1b, #s2b {
  position: absolute; top: 10px; right: 0; width: 10px; height: 75px;
}
#h1c, #h2c, #m1c, #m2c, #s1c, #s2c {
  position: absolute; bottom: 10px; right: 0; width: 10px; height: 75px;
}
#h1e, #h2e, #m1e, #m2e, #s1e, #s2e {
  position: absolute; bottom: 10px; left: 0; width: 10px; height: 75px;
}
#h1f, #h2f, #m1f, #m2f, #s1f, #s2f {
  position: absolute; top: 10px; left: 0; width: 10px; height: 75px;
}


.hr-first-element,
.hr-second-element,
.hr-first-inner-element,
.hr-second-inner-element {
  background: transparent;
}


.colon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;
}
.dot {
  width: 13px;
  height: 13px;
  background: red;
  border-radius: 50%;
}


.segment {
  background: rgb(156, 150, 150);
  
  transition: 0.3s;
}
.segment.on {
  background: red;
  opacity: 1;
}

