body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

svg {
  width: 50px;
  height: 90px;
  margin: 6px;
}

.seg {
  fill: #222;
}

.on {
  fill: red;
}

.colon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  margin: 0 10px;
}

.dot {
  width: 6px;
  height: 6px;
  background: red;
}
